.main {
  background-color: #15191e;
  color: #fff;
  padding: 40px 30px;
  border-radius: 20px;
  margin: 10px;
}

.main__box {
  /* width: 1088px; */
  max-width: 1088px;
  margin: 0 auto;
}

.top {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  flex-direction: column;
  align-items: center;
  @media (min-width: 700px) {
    flex-direction: row;
  }
}

.order__btn {
  border-color: #ff990c;
  color: #fff;
}

.social {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  padding: 0;
  border: 0;
}

.middle__box {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #a9b1bc;
  flex-direction: column;
  align-items: normal;
  @media (min-width: 700px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.middle__box_upper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.contact {
  max-width: fit-content;
  text-align: left;
  color: #fff;
  @media (min-width: 700px) {
    max-width: 260px;
    text-align: right;
  }
}
.dates {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @media (min-width: 700px) {
    justify-content: flex-end;
  }
}
.divider {
  display: inline-block;
  width: 100px;
  height: 1px;
  background-color: #a9b1bc;
  margin: 0 10px;
}

.box__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #a9b1bc;
  font-size: 12px;
  margin: 20px 10px;
  @media (min-width: 700px) {
    flex-direction: row;
  }
}

.footer__bottom {
  margin: 20px 0;
}

.mobile__links {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.mobile__links_inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
