.main {
  position: relative;
  background-image: url("/assets/overlay.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #f8faff;
  margin: 60px auto;
  padding: 50px 10px 0 10px;
  max-width: fit-content;
  border-radius: 10px;
  border: 1px solid #d4d8e2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 600px) {
    padding: 50px 50px 0 50px;
  }
  @media (min-width: 800px) {
    max-width: inherit;
    justify-content: space-between;
    flex-direction: row;
    margin: 60px auto;
    align-items: flex-start;
    padding: 100px 50px;
  }
}

.bg {
  bottom: 0;
  left: 0;
  z-index: 0;
  order: 3;
  @media (min-width: 800px) {
    position: absolute;
  }
}

.info {
  max-width: 260px;
  @media (min-width: 400px) {
    max-width: 333px;
  }
}

.form {
  max-width: 400px;
  border: 1px solid #d7dedd;
  border-radius: 16px;
  background-color: #fff;
  margin: 20px 10px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.04),
    0px 4px 3.25px rgba(0, 0, 0, 0.02);
  padding: 30px 20px;
  @media (min-width: 800px) {
    margin: 0;
    width: 400px;
  }
}

.input__root {
  border: 1px solid #d7dedd;
  border-radius: 6px;
}

.label {
  color: #333333;
  font-size: 10px;
}
