.main {
  margin: 30px 10px;
  @media (min-width: 450px) {
    margin: 30px;
  }
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media (min-width: 1100px) {
    justify-content: space-evenly;
  }
}
.box {
  width: 80px;
  text-align: center;
  color: #312419;
}

.buttonBox {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.btn {
  border-color: #d4d8e2;
}
.btn:hover {
  background-color: none;
}
