.box {
  max-width: 308px !important;
  background-color: #f1f3f7 !important;
  margin: 20px 10px !important;
  border: 1px solid #b4b9c9 !important;
  border-radius: 8px !important;
  padding: 20px 30px !important;
}

.domain {
}

.carousel__root {
  margin: 0 20px !important;

  display: flex;
  overflow: hidden; /* Ensures items don't overflow */
  position: relative;
}

.carousel_main {
  margin: 0 auto !important;
  max-width: 350px !important;
  width: 100%;
  overflow: hidden;
  @media (min-width: 800px) {
    max-width: 1350px !important;
  }
}
